<?php



/////////////////////////////
// Host and Credentials
/////////////////////////////

$hostname = "https://jira.mycompany.com";
$jiraType= 2;  // Custom-Installation (1), or Default (2)
$jiraUser ="cicob";
$jiraPw = "xxxxxxxx";




?>